<%- include ../partials/header.html %>
<%- include ../partials/sidebar.html %>    

<style>
    .addStore{
    padding: 10px;
    float: right;
    font-size: 15px;
  }
</style>   
<div class="content_wraper">
    <div class="main_container">
         <div class="header_wraper">
              <h2><%=title%></h2>
              <ul>
                  <li><a href="<%= adminbaseurl %>dashboard" >Dashboard</a></li> 
                  <li><a href="<%= adminbaseurl %>newsletter/view" >Send Mail</a></li> 
                  <li><h4>Create New Emails</h4></li>
              </ul>
          </div>
  
          <% if(messages!='') {%>
          <div class="succ_msg msg" id="succ_msg">    
              <i class="fa fa-check"  aria-hidden="true"></i>        
              <%=messages%>
          </div>
          <%}%>                
          <% if(errors!='') {%>
          <div class="succ_err msg" id="err_msg">
              <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>  
              <%=errors%>
          </div>
          <% }%> 
          
      <div class="content_body">
          <div class="table_heading mb-5">
          <h3><%=title%></h3>

          <div class="mt-3">
            <div class="float-left">
              <span style="font-size: 16px;">Showing </span>
              <select onchange="location = this.value" style="height: 25px; width: 60px;">
                <option value="1?pagesize=10<% if(searchItem!=''){ %>&search=<%=searchItem %> <% } %>" <% if(pageSize=='10'){ %>selected <% }%> >10</option>
                <option value="1?pagesize=25<% if(searchItem!=''){ %>&search=<%=searchItem %> <% } %>" <% if(pageSize=='25'){ %>selected <% }%>>25</option>
                <option value="1?pagesize=50<% if(searchItem!=''){ %>&search=<%=searchItem %> <% } %>" <% if(pageSize=='50'){ %>selected <% }%>>50</option>
                <option value="1?pagesize=100<% if(searchItem!=''){ %>&search=<%=searchItem %> <% } %>" <% if(pageSize=='100'){ %>selected <% }%>>100</option>
              </select> 
              <span style="font-size: 16px;"> entries </span>        
            </div>
    
            <div class="float-right">
                <a href="<%= adminbaseurl %>newsletter/newemail/downloadSample" class="btn btn-success btn-sm">Download Sample</a>
                <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal" data-target="#csvUpload">Upload CSV</button>
                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#addNew">Add</button>
                <a href="<%= adminbaseurl %>newsletter/view" class="btn btn-danger btn-sm">Back</a>
            </div>
         </div>
      </div>

      <div class="table-responsive table_wraper">
      <table class="table product_list025">
          <thead>
              <tr style="cursor: pointer;">
                <% if(orderType =='DESC') {%>
                    <th data-column="id" data-order="ASC" class="text-center theading">Sl No <% if(columnName =='id') {%><i class="fa fa-sort fa-lg text-success"></i><% }else{ %><i class="fa fa-sort fa-lg"></i> <% }%></th>
                <% }else{ %>
                    <th data-column="id" data-order="DESC" class="text-center theading">Sl No <% if(columnName =='id') {%><i class="fa fa-sort fa-lg text-success"></i><% }else{ %><i class="fa fa-sort fa-lg"></i> <% }%></th>
                <% }%>

                <% if(orderType =='DESC') {%>
                    <th data-column="name" data-order="ASC" class="theading">Name <% if(columnName =='name') {%><i class="fa fa-sort fa-lg text-success"></i><% }else{ %><i class="fa fa-sort fa-lg"></i> <% }%></th>
                <% }else{ %>
                    <th data-column="name" data-order="DESC" class="theading">Name <% if(columnName =='name') {%><i class="fa fa-sort fa-lg text-success"></i><% }else{ %><i class="fa fa-sort fa-lg"></i> <% }%></th>
                <% }%>

                <% if(orderType =='DESC') {%>
                    <th data-column="email" data-order="ASC" class="theading">Emails <% if(columnName =='email') {%><i class="fa fa-sort fa-lg text-success"></i><% }else{ %><i class="fa fa-sort fa-lg"></i> <% }%></th>
                <% }else{ %>
                    <th data-column="email" data-order="DESC" class="theading">Emails <% if(columnName =='email') {%><i class="fa fa-sort fa-lg text-success"></i><% }else{ %><i class="fa fa-sort fa-lg"></i> <% }%></th>
                <% }%>

                <% if(sessionStoreId=='') {%>
                    <th>Store</th>
                <% }%>
                

                <th class="text-center">Action</th>
              </tr>
          </thead>
      <tbody>
      
          <% var i= 1; arrData.forEach(function(val) { %>	
          <tr>
              <td class="text-center"> <%= i %></td>
              <td style="white-space: pre-wrap;"> <%= val.name %></td>
              <td style="white-space: pre-wrap;"> <%= val.email %></td>
              <% if(sessionStoreId=='') {%>
                <td><% storeList.forEach(function(store) { if(store.id==val.storeId){ %> <%= store.storeName %></ <% } }) %></td>
              <% }%>
              
              <td class="text-center">
                  <a href="<%= adminbaseurl%>newsletter/newemail/delete/<%= val.id %>" class="edit_btn" onclick="return(confirm('Do you really want to delete? '));"><i class="fa fa-trash"></i></a>
              </td>
          </tr>
          <% i++; }) %>
          </tbody>
          </table>
           <!--====================================== Pagination Start ======================================-->
          <% if(listCount>0) {%>
            <div class="pagination_sec">
                <div class="table_info">Showing <% if(((currentPage-1)*pageSize)+1==listCount) {%> <%= listCount %> <% }else{ %><%= ((currentPage-1)*pageSize)+1 %> to <%= currentPage==pageCount ? listCount : (currentPage*pageSize)  %> <% } %> of <%= listCount %> entries</div> 
                <% if(currentPage>1) {%>
                    <ul>
                    <li><a href="<%= adminbaseurl%>newsletter/newemail/list/<%=currentPage-1 %>?pagesize=<%= pageSize%><% if(searchItem!=''){ %>&search=<%=searchItem %> <% } %>" >Prev</a></li>
                    </ul>
                <% }else{ %>
                    <ul>
                    <li><a href="javascript:void(0)" class="disable">Prev</a></li>
                    </ul>
                <% } %>
                <% for(var i=1; i<=pageCount; i++) { %>
                    <ul>
                    <% if(currentPage==i) {%>
                    <li><a href="<%= adminbaseurl%>newsletter/newemail/list/<%=i %>?pagesize=<%= pageSize%><% if(searchItem!=''){ %>&search=<%=searchItem %> <% } %>" class="active"><%=i %></a></li>
                    <% }else{ %>
                    <li><a href="<%= adminbaseurl%>newsletter/newemail/list/<%=i %>?pagesize=<%= pageSize%><% if(searchItem!=''){ %>&search=<%=searchItem %> <% } %>" class=""><%=i %></a></li>
                    <% } %>
                    </ul>
                <% } %>
                <% if(currentPage < pageCount) {%>
                    <ul>
                    <li><a href="<%= adminbaseurl%>newsletter/newemail/list/<%=currentPage+1 %>?pagesize=<%= pageSize%><% if(searchItem!=''){ %>&search=<%=searchItem %> <% } %>" >Next</a></li>
                    </ul>
                    <% }else{ %>
                    <ul>
                    <li><a href="javascript:void(0)" class="disable">Next</a></li>
                    </ul>
                <% } %>
            </div>
         <% } %>
          <!--====================================== Pagination End ======================================-->
         </div>
      </div>
  </div>
</div>
 

<%- include ../partials/footer.html %>
  
<div class="modal fade" id="csvUpload" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog " role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title text-dark" id="modalLabel" style="font-size: 20px;">Upload CSV</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <% if(sessionStoreId!='') {%>
            <form class="form-horizontal form-label-left" method="post" enctype="multipart/form-data" action="<%= adminbaseurl %>newsletter/newemail/uploadcsv">
                <div class="mb-4">
                    <input type="file" name="name" class="form-control" required>
                </div>
                <div class="btn_right mb-2">
                    <button id="upload" type="submit" class="btn btn-success submit_btn">Submit</button>
                </div>
            </form>
            <% }%>
        </div>
      </div>
    </div>
  </div>

<div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title text-dark" id="modalLabel" style="font-size: 20px;">Add new emails</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form class="form-horizontal form-label-left" method="post" enctype="multipart/form-data" action="<%= adminbaseurl %>newsletter/newemail/add">
                <div class="mb-4">
                    <% if(sessionStoreId!='') {%>
                        <input id="storeId" class="form-control"  name="storeId" type="hidden" value="<%= sessionStoreId %>">
                      <% } else {%>
                          <div class="col-sm-6 mb-4">
                              <div class="animate_form field mb-1">
                                  <span>Select Store <span class="text-danger">*</span></span>
                                  <select name="storeId" id="storeId" class="form-control">
                                      <% storeList.forEach(function(store){%>
                                      <option value="<%=store.id%>"><%=store.storeName %></option>
                                      <% })%>
                                  </select>
                              </div>
                          </div>
                      <% }%>

                    <div class="row mb-4">
                        <div class="col-sm-4">
                            <label class="control-label font-weight-bold" style="font-size: 16px;" for="name">Name<span class="text-danger">*</span></label>
                        </div>
                        <div class="col-sm-6">
                            <label class="control-label font-weight-bold" style="font-size: 16px;" for="email">Email<span class="text-danger">*</span></label>
                        </div>
                        <div class="col-sm-2">
                          <button class="add_trigger btn btn-success text-white" type="button"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <div class="row clone" style="margin-bottom: 15px;">
                      <div class="col-sm-4">
                          <input name="name" type="text" id="name"  class="form-control" placeholder="Enter name" required>
                      </div>
                      <div class="col-sm-6">
                          <input name="email" type="text" id="email"  class="form-control" placeholder="Enter email address" required>
                      </div>
                      <div class="col-sm-2">
                          <button class="remove_trigger btn btn-danger" type="button"><i class="fa fa-close" aria-hidden="true"></i></button>
                      </div>
                    </div>
                    <div class="placer"></div>
                </div>
                
                <div class="btn_right mb-2">
                    <button id="send" type="submit" class="btn btn-success submit_btn">Submit</button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>

<script>
    $(document).ready(function(){
      $(".add_trigger").click(function () {
          $('.clone').first().clone()
          .find("input:text").val("").end()
          .insertBefore(".placer");
          $('input.cl:last').val('');
        event.preventDefault();
      });     
      $(document).on('click','.remove_trigger',function () {     
          if ($(".clone").length > 0) {        
              if($(".clone").length == 1){
                  $(".clone:last")
                  .find("input:text").val("").end()     
              }else{
                  $(this).closest('.clone').remove();
              }                         
          }
          event.preventDefault();
      });       
  });
  </script>

<script>
    $(document).ready(() => {
      $('.theading').on('click',function(){
        var column = $(this).data('column');
        var order = $(this).data('order');
  
        if(order == 'DESC'){
          $(this).data('order', 'ASC');        
          window.location.href = `<%= adminbaseurl%>newsletter/newemail/list/1?column=${column}&order=${order}&pagesize=<%= pageSize%><% if(searchItem!=''){ %>&search=<%=searchItem %> <% } %>`
        }else{
          $(this).data('order', 'DESC');
          window.location.href = `<%= adminbaseurl%>newsletter/newemail/list/1?column=${column}&order=${order}&pagesize=<%= pageSize%><% if(searchItem!=''){ %>&search=<%=searchItem %> <% } %>`
        }
      })
  });
  </script>