<%- include ../partials/header.html %>
<%- include ../partials/sidebar.html %>  
<div class="content_wraper">
    <div class="main_container">
          
      <div class="header_wraper">
        <h2><%=title%></h2>
          <ul>
            <li><a href="<%= adminbaseurl %>dashboard" >Dashboards</a></li>
            <li><a href="<%= adminbaseurl %>city/list/1">City</a></li>
            <li><%=title%></li>
          </ul>
      </div>

      <% if(messages!='') {%>
      <div class="succ_msg msg" id="succ_msg">    
        <i class="fa fa-check"  aria-hidden="true"></i>        
        <%=messages%>
      </div>
      <%}%>                
      <% if(errors!='') {%>
      <div class="succ_err msg" id="err_msg">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>  
        <%=errors%>
      </div>
      <% }%>

      <form class="form-horizontal form-label-left" method="post" enctype="multipart/form-data" action="<%= adminbaseurl %>city/addOrUpdate">
          <div class="content_body panel_body edit_store">
              <div class="panel_title">
                  <h3>City</h3>
              </div>
            <div class="clearfix"></div>
            <div class="row edit_box">
                <div class="col-sm-6 mb-5">
                  <div class="animate_form field mb-1">
                      <span>Name <span class="text-danger">*</span></span>
                      <input id="name" class="form-control"  name="name" type="text" value="<%= arrData ? arrData.name : '' %>">
                  </div>
                  <span class="text-danger font-weight-bold" id="name_error"></span>
              </div>

              <% if(sessionStoreId!='') {%>
                <input id="storeId" class="form-control"  name="storeId" type="hidden" value="<%= sessionStoreId %>">
              <% } else {%>
                  <div class="col-sm-6 mb-5">
                      <div class="animate_form field mb-1">
                          <span>Select Store <span class="text-danger">*</span></span>
                          <select name="storeId" id="storeId" class="form-control">
                              <% stores.forEach(function(store){%>
                              <option value="<%=store.id%>"  <% if(arrData.storeId == store.id){ %> selected="selected" <% }%>><%=store.storeName; %></option>
                              <% })%>
                          </select>
                      </div>
                  </div>
              <% }%>

                <div class="col-sm-6 mb-5">
                  <div class="animate_form field mb-1">
                      <span>Status <span class="text-danger">*</span></span>
                      <select name="status" class="form-control" id="status">
                        <option <% if(arrData.status=='Yes'){ %>selected="selected" <% }%> value="Yes">YES</option>
                        <option <% if(arrData.status=='No'){ %>selected="selected" <% }%> value="No">NO</option>  
                      </select>
                  </div>
                  <span class="text-danger font-weight-bold" id="status_error"></span>
                </div>

              </div>
          </div>
          <div class="btn_right mb-4">
              <input type="hidden" name="update_id" value="<%= arrData ? arrData.id : '' %>">
              <button id="send" type="submit" class="submit_btn">Submit</button>
          </div>
      </form>
    </div>
  </div>
<%- include ../partials/footer.html %>


<!-- -------------------------------------- validation --------------------------------  -->

<script>

  $(document).ready(function () {
      $("#name_error").hide();
      err_name = true;
      $("#store_error").hide();
      err_store = true;
      $("#status_error").hide();
      err_status = true;

      $("#name").keyup(function () {
          name_check_fun();
      });

      $("#storeId").change(function () {
          store_check_fun();
      });

      $("#status").change(function () {
          status_check_fun();
      });



      function name_check_fun() {
          let k = $("#name").val();
          let val = k.trim();
          if (val.length == "") {
              $("#name_error").show();
              $("#name_error").html("City name is required");
              err_name = false;
              return false;
          }
          else {
              err_name = true;
              $("#name_error").html("");
              $("#name_error").hide();
          }
      }


      function store_check_fun() {
          let k = $("#storeId").val();
          let val = k.trim();
          if (val.length == ""  ) {
              $("#store_error").show();
              $("#store_error").html("Please select store");
              err_store = false;
              return false;
          }
          else {
              err_store = true;
              $("#store_error").html("");
              $("#store_error").hide();

          }
      }

      function status_check_fun() {
          let k = $("#status").val();
          let val = k.trim();
          if (val.length == ""  ) {
              $("#status_error").show();
              $("#status_error").html("Please select status");
              err_status = false;
              return false;
          }
          else {
              err_status = true;
              $("#status_error").html("");
              $("#status_error").hide();

          }
      }


      $("#send").click(function () {
          err_name = true;
          err_store = true;
          err_status = true;
          name_check_fun();
          store_check_fun();
          status_check_fun();

          if ((err_name == true) && (err_store == true) && (err_status == true) ) {
              return true;
          }
          else {
              return false;

          }

      });


  });

</script>