<%- include ../partials/header.html %>
<%- include ../partials/sidebar.html %>    

<style>
    .addStore{
    padding: 10px;
    float: right;
    font-size: 15px;
  }
</style>   
<div class="content_wraper">
    <div class="main_container">
         <div class="header_wraper">
              <h2><%=title%></h2>
              <ul>
                  <li><a href="<%= adminbaseurl %>dashboard" >Dashboard</a></li> 
                  <li><h4><%=title%><small></small></h4></li>
              </ul>
          </div>
  
          <% if(messages!='') {%>
          <div class="succ_msg msg" id="succ_msg">    
              <i class="fa fa-check"  aria-hidden="true"></i>        
              <%=messages%>
          </div>
          <%}%>                
          <% if(errors!='') {%>
          <div class="succ_err msg" id="err_msg">
              <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>  
              <%=errors%>
          </div>
          <% }%> 
          
        <div class="content_body">
            <div class="table_heading mb-0">
                <h3><%=title%></h3>
                <form align="right" class="header-searchbox"  >
                    <div class="searchcom" >
                        <input type="text" placeholder="Search.." name="search" />
                        <button><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                </form>
            </div>
            <div class="table_heading" style=" display: flex; align-items: center; justify-content: space-between;">

                <div class="title_right text-right">
                  <div>
                    <span style="font-size: 16px;">Showing </span>
                  
                    <select onchange="location = this.value" style="height: 25px; width: 60px;">
                        <option value="1?pagesize=10<% if(searchItem!=''){ %>&search=<%=searchItem %><% } %><% if(fdateFilter!=''){ %>&fdate=<%=fdateFilter %><% } %><% if(tdateFilter!=''){ %>&tdate=<%=tdateFilter %><% } %><% if(statusFilter!=''){ %>&status=<%=statusFilter %><% } %><% if(orderFilter!=''){ %>&orderNo=<%=orderFilter %><% } %>" <% if(pageSize=='10'){ %>selected <% }%> >10</option>
          
                        <option value="1?pagesize=25<% if(searchItem!=''){ %>&search=<%=searchItem %><% } %><% if(fdateFilter!=''){ %>&fdate=<%=fdateFilter %><% } %><% if(tdateFilter!=''){ %>&tdate=<%=tdateFilter %><% } %><% if(statusFilter!=''){ %>&status=<%=statusFilter %><% } %><% if(orderFilter!=''){ %>&orderNo=<%=orderFilter %><% } %>" <% if(pageSize=='25'){ %>selected <% }%>>25</option>
          
                        <option value="1?pagesize=50<% if(searchItem!=''){ %>&search=<%=searchItem %><% } %><% if(fdateFilter!=''){ %>&fdate=<%=fdateFilter %><% } %><% if(tdateFilter!=''){ %>&tdate=<%=tdateFilter %><% } %><% if(statusFilter!=''){ %>&status=<%=statusFilter %><% } %><% if(orderFilter!=''){ %>&orderNo=<%=orderFilter %><% } %>" <% if(pageSize=='50'){ %>selected <% }%>>50</option>
          
                        <option value="1?pagesize=100<% if(searchItem!=''){ %>&search=<%=searchItem %><% } %><% if(fdateFilter!=''){ %>&fdate=<%=fdateFilter %><% } %><% if(tdateFilter!=''){ %>&tdate=<%=tdateFilter %><% } %><% if(statusFilter!=''){ %>&status=<%=statusFilter %><% } %><% if(orderFilter!=''){ %>&orderNo=<%=orderFilter %><% } %>" <% if(pageSize=='100'){ %>selected <% }%>>100</option>
                      </select> 
                    <span style="font-size: 16px;"> entries </span>      
                  </div>
                </div>


                <!-- <div class="row">

                    <div>
                        <!- - <span style="font-size: 16px;">Enter OrderId</span> - ->
                        <input type="text" class="form-control" name="orderNo" id="orderNo" placeholder="Enter Order No"  value="<%=orderFilter %>" />
                    </div>

                    <div>
                        <span style="font-size: 16px;">From </span>
                        <input type="date" class="form-control" name="fdate" id="fdate" value="<%=fdateFilter %>" required />
                        <span style="font-size: 16px;">To </span>
                        <input type="date" class="form-control" name="tdate" id="tdate" value="<%=tdateFilter %>" required/>
                    </div>
                    
                    <div>
                        <select name='orderStatus' onchange="location = this.value" style="height: 30px;">
                            <% statusList.forEach(function(statusName){%>
                                <% if(statusName.name == 'orderStatus'){ %>
                                    <% statusName.dropdownSettingsOptions.forEach(function(status){%>
                                        <option value="1?<% if(pageSize!=''){ %>&pagesize=<%=pageSize %><% } %>&status=<%=status.optionValue %><% if(fdateFilter!=''){ %>&fdate=<%=fdateFilter %><% } %><% if(tdateFilter!=''){ %>&tdate=<%=tdateFilter %><% } %><% if(orderFilter!=''){ %>&orderNo=<%=orderFilter %><% } %>" <% if(statusFilter== status.optionValue ){ %>selected <% }%> ><%=status.optionLabel %></option>
                                    <% })%>
                                <% } %>
                            <% })%>
                            <option value="1?<% if(pageSize!=''){ %>&pagesize=<%=pageSize %><% } %><% if(fdateFilter!=''){ %>&fdate=<%=fdateFilter %><% } %><% if(tdateFilter!=''){ %>&tdate=<%=tdateFilter %><% } %><% if(orderFilter!=''){ %>&orderNo=<%=orderFilter %><% } %>" <% if(statusFilter==''){ %>selected <% }%> >All</option>
                        </select>
                    </div>
                
                </div>
                
                <div class="mt-0">
                    <a href="<%= adminbaseurl %>order/download?pagesize=<%=pageSize%><% if(statusFilter!=''){ %>&status=<%=statusFilter %><% } %><% if(tdateFilter!=''){ %>&tdate=<%=tdateFilter %><% } %><% if(fdateFilter!=''){ %>&fdate=<%=fdateFilter %><% } %><% if(searchItem!=''){ %>&search=<%=searchItem %> <% } %><% if(orderFilter!=''){ %>&orderNo=<%=orderFilter %><% } %>" class="btn btn-success btn-sm right">Export List</a>
                </div> -->
            </div>


        <div class="table-responsive table_wraper">
			<table class="table product_list025">
				<thead>
					<tr style="cursor: pointer;">
						<% if(orderType =='DESC') {%>
							<th data-column="orderNo" data-order="ASC" class="text-center theading">Order# <% if(columnName =='orderNo') {%><i class="fa fa-sort fa-lg text-success"></i><% }else{ %><i class="fa fa-sort fa-lg"></i> <% }%></th>
						<% }else{ %>
							<th data-column="orderNo" data-order="DESC" class="text-center theading">Order# <% if(columnName =='orderNo') {%><i class="fa fa-sort fa-lg text-success"></i><% }else{ %><i class="fa fa-sort fa-lg"></i> <% }%></th>
						<% }%>

						<% if(orderType =='DESC') {%>
							<th data-column="createdAt" data-order="ASC" class="theading">Date <% if(columnName =='createdAt') {%><i class="fa fa-sort fa-lg text-success"></i><% }else{ %><i class="fa fa-sort fa-lg"></i> <% }%></th>
						<% }else{ %>
							<th data-column="createdAt" data-order="DESC" class="theading">Date <% if(columnName =='createdAt') {%><i class="fa fa-sort fa-lg text-success"></i><% }else{ %><i class="fa fa-sort fa-lg"></i> <% }%></th>
						<% }%>

						<th>Customer Info</th>

						<th>Order Item</th>

						<th>Total Amount(AED)</th>
                        <th>Delivery Id</th>

						<% if(sessionStoreId=='') {%>
							<th>Store</th>
						<% }%>

						<% if(orderType =='DESC') {%>
							<th data-column="orderStatus" data-order="ASC" class="theading">Status <% if(columnName =='orderStatus') {%><i class="fa fa-sort fa-lg text-success"></i><% }else{ %><i class="fa fa-sort fa-lg"></i> <% }%></th>
						<% }else{ %>
							<th data-column="orderStatus" data-order="DESC" class="theading">Status <% if(columnName =='orderStatus') {%><i class="fa fa-sort fa-lg text-success"></i><% }else{ %><i class="fa fa-sort fa-lg"></i> <% }%></th>
						<% }%>
						<th class="text-center">Action</th>
					</tr>
				</thead>
				<tbody>
				
					<% var i= 1; arrData.forEach(function(val) { %>	
					<tr>
						<td class="text-center"> 
							#<%= val.orderNo %>
							<% if(val.shippingMethod=='Free Shipping'){ %> <br><img src="<%= baseurl %>admin/images/free_shipping.png" height="25px">  
							<% }else if(val.shippingMethod=='Shipping Charge'){ %><br><img src="<%= baseurl %>admin/images/shipping-charges.png" height="25px">
							<% }else if(val.shippingMethod=='Express Shipping'){ %><br><img src="<%= baseurl %>admin/images/express.png" height="25px">
							<% }%>
						</td>
						<td> <%= moment(val.createdAt).format('DD MMM, YYYY') %><br>
							<span style="padding:2px; color:black; font-size: 15px"><%= moment(val.createdAt).format('HH:mm') %><span>
						</td>
						<td style="white-space: pre-wrap;"><%= val.shippingAddress.slice(0,40)+'...' %></td>
						<td style="white-space: pre-wrap;"><%= val.orderItems %></td>
						<td> <%= val.amountPaid %></td>
                        <td> <%= val.deliveryID %></td>
						<% if(sessionStoreId=='') {%>
							<td><% storeList.forEach(function(store) { if(store.id==val.storeId){ %> <%= store.storeName %></ <% } }) %></td>
						<% }%>
						<td class=""> 
							<% if(sessionStoreId=='') {%>
								<span><%= val.orderStatus %></span>
							<% } else {%>
							<form action="<%= adminbaseurl %>order/statuschange" method="post" class="">
								<select id="statusChange" name="orderStatus" onchange="this.form.submit()">
									<% statusList.forEach(function(statusName){%>
										<% if(statusName.name == 'orderStatus'){ %>
											<% statusName.dropdownSettingsOptions.forEach(function(status){%>
												<option value="<%=status.optionValue%>"  <% if(val.orderStatus == status.optionValue ){ %> selected="selected" <% }%> ><%=status.optionLabel %></option>
											<% })%>
										<% } %>
									<% })%>
								</select>
								<input type="hidden" name="orderId" value="<%= val.id %>"/>
							</form>
							<% }%>
						</td>
						<td class="text-center">
                            <% if(val.orderStatus == 'Processing') {%>
                                <% if(!val.deliveryID) {%>
                                <!-- <a href="<%= adminbaseurl%>delivery/create/<%= val.id %>" class="edit_btn">Delivery</a> -->
                                <a href="<%= adminbaseurl%>delivery/create/<%= val.id %>" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Delivery </a>
                                <%}%>
                            <%}%>

                            <% if(val.orderStatus == 'Processing') {%>
                                <!-- <a href="<%= adminbaseurl%>order/cancelled/<%= val.id %>" class="edit_btn">Cancelled</a> -->
                                <a href="<%= adminbaseurl%>order/cancelled/<%= val.id %>" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Cancelled </a>
                            <%}%>

							<a href="<%= adminbaseurl%>order/view/<%= val.id %>" class="edit_btn"><i class="fa fa-eye"></i></a>
						</td>
					</tr>
					<% i++; }) %>
				</tbody>
			</table>
            <!--====================================== Pagination Start ======================================-->
            <% if(listCount>0) {%>
                <div class="pagination_sec">
                    <div class="table_info">Showing <% if(((currentPage-1)*pageSize)+1==listCount) {%> <%= listCount %> <% }else{ %><%= ((currentPage-1)*pageSize)+1 %> to <%= currentPage==pageCount ? listCount : (currentPage*pageSize)  %> <% } %> of <%= listCount %> entries</div> 
                    <% if(currentPage>1) {%>
                        <ul>
                        <li><a href="<%= adminbaseurl%>order/list/<%=currentPage-1 %>?pagesize=<%= pageSize%><% if(searchItem!=''){ %>&search=<%=searchItem %><% } %><% if(fdateFilter!=''){ %>&fdate=<%=fdateFilter %><% } %><% if(tdateFilter!=''){ %>&tdate=<%=tdateFilter %><% } %><% if(statusFilter!=''){ %>&status=<%=statusFilter %><% } %><% if(orderFilter!=''){ %>&orderNo=<%=orderFilter %><% } %>" >Prev</a></li>
                        </ul>
                    <% }else{ %>
                        <ul>
                        <li><a href="javascript:void(0)" class="disable">Prev</a></li>
                        </ul>
                    <% } %>
                    <% for(var i=1; i<=pageCount; i++) { %>
                        <ul>
                        <% if(currentPage==i) {%>
                        <li><a href="<%= adminbaseurl%>order/list/<%=i %>?pagesize=<%= pageSize%><% if(searchItem!=''){ %>&search=<%=searchItem %><% } %><% if(fdateFilter!=''){ %>&fdate=<%=fdateFilter %><% } %><% if(tdateFilter!=''){ %>&tdate=<%=tdateFilter %><% } %><% if(statusFilter!=''){ %>&status=<%=statusFilter %><% } %><% if(orderFilter!=''){ %>&orderNo=<%=orderFilter %><% } %>"  class="active"><%=i %></a></li>
                        <% }else{ %>
                        <li><a href="<%= adminbaseurl%>order/list/<%=i %>?pagesize=<%= pageSize%><% if(searchItem!=''){ %>&search=<%=searchItem %><% } %><% if(fdateFilter!=''){ %>&fdate=<%=fdateFilter %><% } %><% if(tdateFilter!=''){ %>&tdate=<%=tdateFilter %><% } %><% if(statusFilter!=''){ %>&status=<%=statusFilter %><% } %><% if(orderFilter!=''){ %>&orderNo=<%=orderFilter %><% } %>" class=""><%=i %></a></li>
                        <% } %>
                        </ul>
                    <% } %>
                    <% if(currentPage < pageCount) {%>
                        <ul>
                        <li><a href="<%= adminbaseurl%>order/list/<%=currentPage+1 %>?pagesize=<%= pageSize%><% if(searchItem!=''){ %>&search=<%=searchItem %><% } %><% if(fdateFilter!=''){ %>&fdate=<%=fdateFilter %><% } %><% if(tdateFilter!=''){ %>&tdate=<%=tdateFilter %><% } %><% if(statusFilter!=''){ %>&status=<%=statusFilter %><% } %><% if(orderFilter!=''){ %>&orderNo=<%=orderFilter %><% } %>"  >Next</a></li>
                        </ul>
                        <% }else{ %>
                        <ul>
                        <li><a href="javascript:void(0)" class="disable">Next</a></li>
                        </ul>
                    <% } %>
                </div>
            <% } %>
            <!--====================================== Pagination End ======================================-->
            </div>
        </div>
  </div>
</div>
  

<%- include ../partials/footer.html %>

<script>
    $(document).ready(() => {
      $('.theading').on('click',function(){
        var column = $(this).data('column');
        var order = $(this).data('order');
  
        if(order == 'DESC'){
          $(this).data('order', 'ASC');        
          window.location.href = `<%= adminbaseurl%>order/list/1?column=${column}&order=${order}&pagesize=<%= pageSize%><% if(searchItem!=''){ %>&search=<%=searchItem %> <% } %><% if(fdateFilter!=''){ %>&fdate=<%=fdateFilter %><% } %><% if(tdateFilter!=''){ %>&tdate=<%=tdateFilter %><% } %><% if(statusFilter!=''){ %>&status=<%=statusFilter %><% } %><% if(orderFilter!=''){ %>&orderNo=<%=orderFilter %><% } %>`
        }else{
          $(this).data('order', 'DESC');
          window.location.href = `<%= adminbaseurl%>order/list/1?column=${column}&order=${order}&pagesize=<%= pageSize%><% if(searchItem!=''){ %>&search=<%=searchItem %> <% } %><% if(fdateFilter!=''){ %>&fdate=<%=fdateFilter %><% } %><% if(tdateFilter!=''){ %>&tdate=<%=tdateFilter %><% } %><% if(statusFilter!=''){ %>&status=<%=statusFilter %><% } %><% if(orderFilter!=''){ %>&orderNo=<%=orderFilter %><% } %>`
        }
      })
  });
</script>

<script>
    $('#orderNo').on('blur', function(){
        let orderNo = $('#orderNo').val()
        if(orderNo != ''){
            window.location.href = `<%= adminbaseurl%>order/list/1?pagesize=<%= pageSize %>&orderNo=${orderNo}<% if(fdateFilter!=''){ %>&fdate=<%=fdateFilter %><% } %><% if(tdateFilter!=''){ %>&tdate=<%=tdateFilter %><% } %><% if(statusFilter!=''){ %>&status=<%=statusFilter %><% } %>`
        }else{
            window.location.href = `<%= adminbaseurl%>order/list/1?pagesize=<%= pageSize %><% if(fdateFilter!=''){ %>&fdate=<%=fdateFilter %><% } %><% if(tdateFilter!=''){ %>&tdate=<%=tdateFilter %><% } %><% if(statusFilter!=''){ %>&status=<%=statusFilter %><% } %>`
        }
    })

    $('#fdate').on('blur', function(){
        let fdate = $('#fdate').val()
        if(fdate != ''){
            window.location.href = `<%= adminbaseurl%>order/list/1?pagesize=<%= pageSize %>&fdate=${fdate}<% if(orderFilter!=''){ %>&orderNo=<%=orderFilter %><% } %><% if(tdateFilter!=''){ %>&tdate=<%=tdateFilter %><% } %><% if(statusFilter!=''){ %>&status=<%=statusFilter %><% } %>`
        }
    })

    $('#tdate').on('blur', function(){
        let tdate = $('#tdate').val()
        if(tdate != ''){
            window.location.href = `<%= adminbaseurl%>order/list/1?pagesize=<%= pageSize %>&tdate=${tdate}<% if(fdateFilter!=''){ %>&fdate=<%=fdateFilter %><% } %><% if(orderFilter!=''){ %>&orderNo=<%=orderFilter %><% } %><% if(statusFilter!=''){ %>&status=<%=statusFilter %><% } %>`
        }
    })
</script>

  <!-- <script>
    var counter = 60;
    // The countdown method.
    window.setInterval(function () {
        counter--;
        if (counter >= 0) {
            var span;
            span = document.getElementById("cnt");
            span.innerHTML = "This page will be refreshed after "+counter+" seconds";
        }
        if (counter === 0) {
            clearInterval(counter);
        }

    }, 1000);

    window.setInterval('refresh()', 60000);

    // Refresh or reload page.
    function refresh() {
        window.location.href = window.location.href;
    }
  </script> -->