<%- include ../partials/header.html %>
<%- include ../partials/sidebar.html %>   
<style type="text/css">
  .addStore{padding: 10px;float: right;font-size: 15px;}
</style>       
<!-- page content -->
<div class="content_wraper">
    <div class="main_container">      
        <div class="header_wraper">
            <h2><%=title%></h2>
            <ul>
                <li><a href="<%= adminbaseurl %>dashboard" >Dashboard</a></li> 
                <li><h4><%=title%><small></small></h4></li>
            </ul>
        </div>

        <% if(messages!='') {%>
        <div class="succ_msg msg" id="succ_msg">    
            <i class="fa fa-check"  aria-hidden="true"></i>        
            <%=messages%>
        </div>
        <%}%>                
        <% if(errors!='') {%>
        <div class="succ_err msg" id="err_msg">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>  
            <%=errors%>
        </div>
        <% }%>   
        <div class="content_body">
            <div class="table_heading">
                <h3>Manage <%=title%></h3>
                <a href="<%= adminbaseurl %>shippingMethods/view" class="btn btn-info btn-lg addStore"  ><i class="fa fa-plus1">+</i> Add shipping methods</a> 
                <form id="labnol" method="get" action="https://www.google.com/search">
                <div class="table_search">
                        <div class="speech">
                    <input type="text"  name="q" id="transcript" placeholder="Search Category...">
                    <a href="javascript:void(0)" data-toggle="tooltip" title="Close" class="close_search">&times;</a>
                    </div>
                </div>
                </form>
            </div>
            <div class="table-responsive table_wraper">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="checkbox_cell"></th>
                            <th>Sl No</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Activate Time From</th>
                            <th>Activate Time To</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>                      
                        <% var i= 1;
                         arrData.forEach(function(val) { %>		
                        <tr>
                            <td class="checkbox_cell"> </td>
                            <td> <%= i %></td>
                            <td> <%= val.name %></td>
                            <td> <%= val.price %></td>
                            <td> <%= val.fromTime %></td>
                            <td> <%= val.toTime %></td>
                            <td>
                             <a href="<%= adminbaseurl%>shippingMethods/view/<%= val.id %>" class="edit_btn"><i class="fa fa-pencil"></i></a><a href="<%= adminbaseurl%>shippingMethods/delete/<%= val.id %>" class="edit_btn" onclick="return(confirm('Do you really want to delete? '));"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                        <% i++; }) %>
                    </tbody>
                </table>
            </div>  
    </div>
</div>
    
<!-- page content -->
<%- include ../partials/footer.html %>