<%- include ../partials/header.html %>
<%- include ../partials/sidebar.html %>
<style type="text/css">
  .addStore{padding: 10px;float: right;font-size: 15px;}
</style> 
<div class="content_wraper">
  <div class="main_container">
    <div class="header_wraper">
      <h2><%=title%></h2>
      <ul>
        <li><a href="<%= adminbaseurl %>dashboard" >Dashboards</a></li>
        <li><a href="<%= adminbaseurl %>deliveryTimeSlot/list/1" >Timeslot</a></li>
        <li><%=title%></li>
      </ul>
    </div>
    <% if(messages!='') {%>
      <div class="succ_msg msg" id="succ_msg"><i class="fa fa-check"  aria-hidden="true"></i><%=messages%></div>
    <%}%>
    <% if(errors!='') {%>
      <div class="succ_err msg" id="err_msg"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i><%=errors%></div>
    <% }%>
    <form class="form-horizontal form-label-left" method="post" enctype="multipart/form-data" action="<%= adminbaseurl %>deliveryTimeSlot/addOrUpdate">
      <div class="content_body panel_body edit_store">
        <div class="panel_title">
          <h3>TimeSlot Information</h3>
        </div>
        <div class="clearfix"></div>
        <div class="row edit_box">

          <% if(sessionStoreId!='') {%>
            <input id="storeId" class="form-control"  name="storeId" type="hidden" value="<%= sessionStoreId %>">
          <% } else {%>
              <div class="col-sm-6 mb-5">
                  <div class="animate_form field mb-1">
                      <span>Select Store <span class="text-danger">*</span></span>
                      <select name="storeId" id="storeId" class="form-control">
                          <% stores.forEach(function(store){%>
                          <option value="<%=store.id%>"  <% if(arrData.storeId == store.id){ %> selected="selected" <% }%>><%=store.storeName; %></option>
                          <% })%>
                      </select>
                  </div>
              </div>
          <% }%>
          
          <div class="col-sm-6">
            <div class="animate_form field">
              <span>Label<span>*</span></span>
              <input id="label" class="form-control"  name="label" type="text"  required="required" value="<%= arrData ? arrData.label : '' %>" />
              <div class="alert_msg"></div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="animate_form field">
              <span>From Time<span>*</span></span>
              <input id="from_time" class="form-control"  name="fromTime" type="time"  required="required" value="<%= arrData ? arrData.fromTime : '' %>" />
              <div class="alert_msg"></div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="animate_form field">
              <span>To Time<span>*</span></span>
              <input id="to_time" class="form-control"  name="toTime" type="time"  required="required" value="<%= arrData ? arrData.toTime : '' %>" />
              <div class="alert_msg"></div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="animate_form field">
              <span>Sequence<span>*</span></span>
              <input id="seq" class="form-control"  name="seq" type="text"  required="required" value="<%= arrData ? arrData.sequence : '' %>" />
              <div class="alert_msg"></div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="animate_form field">
                <span>Status</span>
                <select name="status" class="form-control" required="required">
                    <option <% if(arrData.status=='Yes'){ %>selected="selected" <% }%> value="Yes">Yes</option>
                    <option <% if(arrData.status=='No'){ %>selected="selected" <% }%> value="No">No</option>
                    <!-- <option <% if(arrData.status=='archive'){ %>selected="selected" <% }%> value="archive">Archive</option> -->
                </select>
               
            </div>
        </div>
        </div>
      </div>
      
      <div class="btn_right mb-4">
        <input type="hidden" name="updateId" value="<%= arrData ? arrData.id : '' %>" />
        <button id="send" type="submit" class="submit_btn">Submit</button>
      </div>
    </form>
  </div>
</div>

<%- include ../partials/footer.html %>
<script src="<%= adminbaseurl %>vendors/validator/validator.js"></script>

