<%- include ../partials/header.html %>
<%- include ../partials/sidebar.html %>   
<div class="content_wraper">
  <div class="main_container">
    <div class="header_wraper">
      <h2><%=title%></h2>
      <ul>
        <li><a href="<%= adminbaseurl %>dashboard" >Dashboards</a></li>
        <li><a href="<%= adminbaseurl %>faq/list/1">Faq</a></li>
        <li><a href="<%= adminbaseurl %>faqgroups/list/1">FaqGroup</a></li>
        <li><%=title%></li>
      </ul>
    </div>
    <% if(messages!='') {%>
      <div class="succ_msg msg" id="succ_msg"><i class="fa fa-check"  aria-hidden="true"></i><%=messages%></div>
    <%}%>
    <% if(errors!='') {%>
      <div class="succ_err msg" id="err_msg"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i><%=errors%></div>
    <% }%>
    <form class="form-horizontal form-label-left" method="post" enctype="multipart/form-data" action="<%= adminbaseurl %>faqgroups/addOrUpdate">
      <div class="content_body panel_body edit_store">
        <input type="hidden" name="update_id" value="<%= arrData ? arrData.id : '' %>" />
        <div class="panel_title">
          <h3>Faq Group Information</h3>
        </div>
        <div class="clearfix"></div>
        <div class="row edit_box">
          <div class="col-sm-6">
            <div class="animate_form field">
              <span>Faq Group Name<span>*</span></span>
              <input id="faqName" class="form-control"  name="faqName" type="text"  required="required" value="<%= arrData ? arrData.name : '' %>" />
              <div class="alert_msg"></div>
            </div>
          </div>
          <div class="col-sm-6">
          <div class="animate_form field">
            <span>Select Parent Id</span>
            <input type="text" class="form-control catexample" id="example1" placeholder="Select" autocomplete="off" />
            <input type="hidden" name="parentId" id="parentId" value="<%=arrData.parentId %>" />
          </div>
        </div>
        <% if(sessionStoreId!='') {%>
          <input id="storeId" class="form-control"  name="storeId" type="hidden" value="<%= sessionStoreId %>">
        <% } else {%>
            <div class="col-sm-6 mb-5">
                <div class="animate_form field mb-1">
                    <span>Select Store <span class="text-danger">*</span></span>
                    <select name="storeId" id="storeId" class="form-control">
                        <% stores.forEach(function(store){%>
                        <option value="<%=store.id%>"  <% if(arrData.storeId == store.id){ %> selected="selected" <% }%>><%=store.storeName; %></option>
                        <% })%>
                    </select>
                </div>
            </div>
        <% }%>
      
          <div class="col-sm-6">
            <div class="animate_form field">
                <span>Description<span>*</span></span>
                <textarea id="description" class="form-control"  name="description"   required="required"  ><%= arrData ? arrData.description : '' %></textarea>
              <div class="alert_msg"></div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="animate_form field">
                <label>Icon</label>
                <input type="file" class="form-control" id="image" name="image" accept="image/*" onchange="preView()" <% if(arrData && arrData.icon && arrData.icon==''){ %> required="required" <% }%> />
                <input type="hidden" name="update_image" value="<%= arrData ? arrData.icon : '' %>" />
                <div class="upload_img01">
                <% if(arrData.icon !='' && arrData.icon != null && helper.isFileExistsInFaqIcon(arrData.id+'/'+arrData.icon)){%>
                    <img id="preview" src="<%= baseurl+ 'admin/faq/icon/'+ arrData.id +'/' + arrData.icon %>" style="width: 120px; margin-top: 10px;" class="img-thumbnail" />
                <% }else{ %>
                    <img id="preview" src="<%= baseurl + 'user_contents/no_image.jpg' %>" style="width: 120px; margin-top: 10px;" class="img-thumbnail" />
                <% } %>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="btn_right mb-4">        
        <button id="send" type="submit" class="submit_btn">Submit</button>
      </div>
    </form>
    <input type="hidden" id="treeArraydrp"  value="<%=arrFaqGroup%>">
  </div>
</div>
<script src="<%= adminbaseurl %>vendors/validator/validator.js"></script>
<%- include ../partials/footer.html %>

<script type="text/javascript">
function preView() {
    var fileInput = document.getElementById('image');
    var filePath = fileInput.value;
    var allowedExtensions = /(\.jpg|\.jpeg|\.png)$/i;
    if (!allowedExtensions.exec(filePath)) {
      fileInput.value = '';
      return false;
    } else {
      if (fileInput.files && fileInput.files[0]) {
        var reader = new FileReader();
        reader.onload = function () {
          var output = document.getElementById('preview');
          output.src = reader.result;
        };
        reader.readAsDataURL(event.target.files[0]);
        $("#icon-error").remove();
      };
    }
  }
  function preView1() {
    var fileInput = document.getElementById('metaImage');
    var filePath = fileInput.value;
    var allowedExtensions = /(\.jpg|\.jpeg|\.png)$/i;
    if (!allowedExtensions.exec(filePath)) {
      fileInput.value = '';
      return false;
    } else {
      if (fileInput.files && fileInput.files[0]) {
        var reader = new FileReader();
        reader.onload = function () {
          var output = document.getElementById('preview1');
          output.src = reader.result;
        };
        reader.readAsDataURL(event.target.files[0]);
        $("#icon-error").remove();
      };
    }
  }
</script>
<script src="<%= adminbaseurl %>build/js/comboTreePlugin.js"></script>
<script src="<%= adminbaseurl %>build/js/icontains.js"></script>
<link href="<%= adminbaseurl %>build/css/combotree.css" rel="stylesheet">
<script>
    var myData = $("#treeArraydrp").val();
    var parentId = $("#parentId").val() > 0 ? $("#parentId").val() : 0;
    var comboTree2 = $('#example1').comboTree({
      source : JSON.parse(myData),
      selected: [parentId],
      isMultiple: false
    });
    $('.comboTreeItemTitle').click(function () {
      var storeId = $(this).attr("data-storeid");
      var id = $(this).attr("data-id");
      if(storeId > 0){
        $("#storeId").val(storeId)
        $("#parentId").val(id);
      } else {
        $("#storeId").val('');
        $("#parentId").val('');
      }
    });
</script>
